<div id="partners" class="text-center">
    <div class="row header text-center mb-4 display-4">
      <div class="overlay">Socios estratégicos</div>
    </div>
    <!-- Section heading -->
    <h3 class="py-5 font-weight-bold wow fadeIn">
      ¡Somos distribuidores exclusivos!
    </h3>

    <!-- Grid row -->
    <div class="row wow fadeIn">
      <!-- Grid column -->
      <div class="col-md-4 d-flex align-items-center">
        <img
          class="img-fluid mx-auto my-3"
          src="assets/img/brands/brand1.png"
        />
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 d-flex align-items-center">
        <img
          class="img-fluid mx-auto my-3"
          src="assets/img/brands/brand2.png"
        />
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 d-flex align-items-center">
        <img
          class="img-fluid mx-auto my-3"
          src="assets/img/brands/brand3.png"
        />
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  <h2 class="font-weight-bold h1 py-5">
    <strong
      >¡Contamos con las mejores marcas nacionales e internacionales!</strong
    >
  </h2>
    <!-- First slide -->
  <div class="row">
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner1.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner2.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner3.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner4.png" />
      </div>
    </div>
    <!-- /First slide -->
    <!-- Second slide -->
    <div class="row">
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner5.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner6.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner7.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner8.png" />
      </div>
    </div>
    <!-- /Second slide -->
    <!-- Third slide -->
    <div class="row">
      <div class="col-6 col-md-3">
        <img class="img-fuild my-3" src="assets/img/partner-logos/partner9.png" />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fuild my-3"
          src="assets/img/partner-logos/partner10.png"
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fuild my-3 short-image"
          src="assets/img/partner-logos/partner11.png"
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fuild my-3"
          src="assets/img/partner-logos/partner12.png"
        />
      </div>
    </div>
</div>
