<mdb-flipping-card *ngIf="product"
                   #card
                   (click)="card.toggle()">
  <!--Front Side-->
  <div class="face front card tp-box_side tp-box_front">
    <!--Card image-->
    <div class="view overlay waves-light"
         mdbWavesEffect>
      <img class="card-img-top"
           [src]="product.imageUrl"
           alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--/.Image-->

    <!--Content-->
    <div class="content text-center">
      <h4>{{product.name}}</h4>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <h5>{{product.intro}}</h5>
      </div>
    </div>
    <!--/.Content-->

  </div>
  <!--/.Front Side-->

  <!--Back Side-->
  <div class="face back tp-box_side tp-box_back text-justify">
    <p *ngFor="let paragraph of product.description">
      {{paragraph}}
    </p>
  </div>
  <!--/.Back Side-->
</mdb-flipping-card>
<!--/.Rotating card-->
