<!--Section: Features v.3-->
<section class="container text-center mt-5">

  <!--Section heading-->
  <h2 class="h1 py-3 font-weight-bold">Acerca de Nosotros</h2>

  <div class="row">
    <div class="col-12">
      <p class="px-md-5 mb-md-5 pb-md-3 lead grey-text">
        Somos una empresa Mexicana que ofrece una amplia gama de servicios en el manejo de
        agua en:
      </p>
    </div>
  </div>

  <!--Grid row-->
  <div class="row mb-5">
    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-area-chart fa-3x primary-text"></i>
      <h5 class="font-weight-bold mt-3">Análisis hidráulico</h5>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-book fa-3x primary-text"></i>
      <h5 class="font-weight-bold mt-3">Diseño de redes</h5>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-wrench fa-3x primary-text"></i>
      <h5 class="font-weight-bold mt-3">Venta e instalación</h5>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <div class="row text-justify">
    <div class="col-12 col-md-6">
      <h2 class="font-weight-bold text-center mb-2">Misión</h2>
      <p>
        Promover, diseñar e implementar innovaciones tecnológicas de riego, que sean eficientes
        en el aprovechamiento del recurso hídrico y de la energía, así como definir la mejor
        alternativa económica, que le permita a los productores tener una mayor disponibilidad y
        conservación de sus recursos naturales.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="font-weight-bold text-center mb-2">Visión</h2>
      <p>
        Desarrollar los conocimientos laborales obtenidos, así como desempeñar de manera
        objetiva, eficiente y eficaz las actividades, proyectos, trámites y servicios que prestamos
        con el fin de obtener las herramientas necesarias para consolidarnos como empresa líder
        en el sector de la construcción de sistemas de riego tecnificados, distribución,
        mantenimiento y asesoría altamente especializada para proveer soluciones integrales.
      </p>
    </div>
  </div>

</section>
<!--Section: Features v.3-->
