<!-- Section: Features v.3 -->
<section id="about-us" class="text-center py-5">
  <div class="row">
    <div class="row header text-center mb-4 display-4">
      <div class="overlay">Acerca de Nosotros</div>
    </div>
    <!-- Section heading -->
    <div class="row">
      <div class="col-3"><div class="title">Quiénes somos?</div></div>

      <div class="col-9 content">
        <div class="wow fadeIn sub-title">
          <div>
            Somos una empresa mexicana que siempre se ha preocupado por las
            necesidades de todos sus clientes, perseverando en cada momento y
            brindando la mejor atención y calidad en nuestros trabajos y
            proyectos.
          </div>
        </div>
        <div class="wow text-justify">
          <p>
            Somos una empresa mexicana que siempre se ha preocupado por las
            necesidades de todos sus clientes, perseverando en cada momento y
            brindando la mejor atención y calidad en nuestros trabajos y
            proyectos.
          </p>
          <p>
            Nos dedicamos a la Gestión, Diseño y Construcción de Sistemas de
            Riego y Obra Civil, ampliando siempre las expectativas de nuestros
            clientes y cumpliendo en tiempo y forma sus proyectos, ofreciendo
            una amplia gama de productos y servicios, asesoría y mantenimiento
            de los productos adquiridos.
          </p>
          <p>
            Gracias a nuestros esfuerzos, trabajo de calidad y responsabilidad
            hemos ganado la confianza de nuestros clientes y proveedores,
            impulsándonos en mejorar e innovar nuestra empresa para ofrecer un
            especial servicio.
          </p>
          <p>
            Somos profesionales comprometidos con las necesidades agrícolas,
            además contamos con personal calificado, emprendedor y creativo.
          </p>
          <p>
            Tecnipres se fundamenta en bases fuertes como buenos principios,
            valores, sinergia, espíritu emprendedor y actitud positiva.
          </p>
        </div>
      </div>
    </div>

    <div class="row years mb-4">
      <div class="font-bold wow text-center">
        ¡20 años de experiencia nos respaldan!
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <div class="title">Cuál es nuestro objetivo?</div>
      </div>

      <div class="col-9 content mb-4">
        <div class="wow fadeIn sub-title"><div>Nuestra misión</div></div>
        <div class="wow text-justify">
          Gestionar, diseñar y construir tecnologías de riego y de obra civil de
          retención de agua innovadoras de calidad, que sean la mejor opción en
          el aprovechamiento del recurso hídrico y de energía, que cumplan y
          rebasen las expectativas del cliente, brindando la mejor atención en
          asesoría, siendo así la alternativa más competitiva en el mercado.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3"><div class="title">Cómo nos vemos?</div></div>
      <div class="col-9 content">
        <div class="wow fadeIn sub-title"><div>Nuestra visión</div></div>
        <div class="wow text-justify">
          <div>
            Ser la empresa líder en la construcción y diseño de tecnologías de
            riego y obra civil de retención de agua, a través del
            profesionalismo y equipo de trabajo, mediante la sinergia,
            innovación y calidad, dedicando el mejor esfuerzo para brindar
            siempre a nuestros clientes asesoría altamente especializada y
            servicio para proveer soluciones integrales, con el fin de
            consolidarnos en el sector agrícola e industrial.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Features v.3 -->
