<!--Section: Features v.3-->
<section id="about-us"
         class="text-center py-5">

  <div class="container">

    <!--Section heading-->
    <h2 class="h1 py-3 font-weight-bold wow fadeIn">Acerca de Nosotros</h2>

    <div class="row wow fadeIn">
      <div class="col-12">
        <p class="px-md-5 mb-md-5 pb-md-3 lead">
          Somos una empresa Mexicana que ofrece una amplia gama de servicios en el manejo de
          agua en:
        </p>
      </div>
    </div>

    <!--Grid row-->
    <div class="row mb-5 wow fadeIn">
      <!--Grid column-->
      <div class="col-md-4">
        <i class="fa fa-area-chart fa-3x primary-text"></i>
        <h5 class="font-weight-bold mt-3">Análisis hidráulico</h5>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">
        <i class="fa fa-book fa-3x primary-text"></i>
        <h5 class="font-weight-bold mt-3">Diseño de redes</h5>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">
        <i class="fa fa-wrench fa-3x primary-text"></i>
        <h5 class="font-weight-bold mt-3">Venta e instalación</h5>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <div class="row text-justify">
      <div class="col-12">
        <p>Somos una empresa mexicana que siempre se ha preocupado por las necesidades de todos
          sus clientes, perseverando en cada momento y brindando la mejor atención y calidad en
          nuestros trabajos y proyectos.
        </p>
        <p>
          Nos dedicamos a la Gestión, Diseño y Construcción de Sistemas de Riego y Obra Civil,
          ampliando siempre las expectativas de nuestros clientes y cumpliendo en tiempo y forma
          sus proyectos, ofreciendo una amplia gama de productos y servicios, asesoría y
          mantenimiento de los productos adquiridos.
        </p>
        <p>
          Gracias a nuestros esfuerzos, trabajo de calidad y responsabilidad hemos ganado la
          confianza de nuestros clientes y proveedores, impulsándonos en mejorar e innovar nuestra
          empresa para ofrecer un especial servicio.
        </p>
        <p>
          Somos profesionales comprometidos con las necesidades agrícolas, además contamos con
          personal calificado, emprendedor y creativo.
        </p>
        <p>
          Tecnipres se fundamenta en bases fuertes como buenos principios, valores,
          sinergia, espíritu emprendedor y actitud positiva.
        </p>
        <p>
          ¡19 años de experiencia nos respaldan!
        </p>
      </div>
    </div>

    <div class="row text-justify wow fadeIn">
      <div class="col-12 col-md-6">
        <h2 class="font-weight-bold text-center mb-2">Misión</h2>
        <p>
          Promover, diseñar e implementar innovaciones tecnológicas de riego, que sean eficientes
          en el aprovechamiento del recurso hídrico y de la energía, así como definir la mejor
          alternativa económica, que le permita a los productores tener una mayor disponibilidad y
          conservación de sus recursos naturales.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="font-weight-bold text-center mb-2">Visión</h2>
        <p>
          Desarrollar los conocimientos laborales obtenidos, así como desempeñar de manera
          objetiva, eficiente y eficaz las actividades, proyectos, trámites y servicios que prestamos
          con el fin de obtener las herramientas necesarias para consolidarnos como empresa líder
          en el sector de la construcción de sistemas de riego tecnificados, distribución,
          mantenimiento y asesoría altamente especializada para proveer soluciones integrales.
        </p>
      </div>
    </div>

    <!--Section heading-->
    <h3 class="py-5 font-weight-bold wow fadeIn">¡Somos distribuidores exclusivos!</h3>

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-4 d-flex align-items-center">
        <img class="img-fluid"
             src="assets/img/brands/brand1.png">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 d-flex align-items-center">
        <img class="img-fluid"
             src="assets/img/brands/brand2.png">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 d-flex align-items-center">
        <img class="img-fluid"
             src="assets/img/brands/brand3.png">
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>

</section>
<!--Section: Features v.3-->
