<!-- Section: Contact v.1 -->
<section id="contact" class="py-3 text-center">
  <div class="container">
    <!-- Section heading -->
    <h2 class="font-weight-bold h1 py-5 wow fadeIn">
      <strong>Contáctanos</strong>
    </h2>

    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-5 my-4">
        <div class="row mb-3 wow fadeIn">
          <!-- Grid column -->
          <div class="col-12 text-center">
            <a
              type="button"
              mdbBtn
              floating="true"
              class="button-primary waves-light"
            >
              <i class="fa fa-envelope"></i>
            </a>
            <p class="primary-text mb-1">
              <strong>ventas@tecnipres.com</strong>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Buttons -->
        <div class="row text-center wow fadeIn">
          <div class="col-md-6">
            <a
              mdbBtn
              floating="true"
              class="button-primary waves-light"
              mdbWavesEffect
            >
              <i class="fa fa-map-marker"></i>
            </a>
            <p>Av. 11 entre calle 26 y 28</p>
            <p>Col. Nuevo San José No. 2610</p>
            <p>C.P. 94550</p>
            <p>Córdoba, Ver. México.</p>
          </div>

          <div class="col-md-6">
            <a
              mdbBtn
              floating="true"
              class="button-primary waves-light"
              mdbWavesEffect
            >
              <i class="fa fa-phone"></i>
            </a>
            <p>(271) 73 696 54</p>
          </div>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Google map -->
        <agm-map
          [latitude]="map.lat"
          [longitude]="map.lng"
          style="height: 400px"
        >
          <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
        </agm-map>
      </div>
      <!-- Grid column -->
    </div>
  </div>
</section>
<!-- Section: Contact v.1 -->
