@import 'variables';

.top-nav-collapse {
  background-color: white !important;
}

.navbar:not(.top-nav-collapse) {
  background: white !important;
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.full-height,
.full-height body,
.full-height header,
.full-height header .view {
  height: 100vh !important;
}

.navbar.navbar-dark .navbar-toggler-icon {
  background: $primary-color;
  -webkit-mask: url('assets/img/menu.svg') !important;
}
