<section id="gallery" class="text-center">
  <div class="row header text-center display-4">
    <div class="overlay">Galería</div>
  </div>
  <div class="row no-gutters">
    <div class="col">
      <mdb-carousel [isControls]="false" [animation]="'slide'">
        <mdb-carousel-item>
          <img
            class="d-block w-100 tall"
            src="assets/img/gallery/gallery1.jpg"
            alt="First slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="d-block w-100 tall"
            src="assets/img/gallery/gallery2.jpg"
            alt="Second slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="d-block w-100 tall"
            src="assets/img/gallery/gallery3.jpg"
            alt="Third slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img
              class="d-block w-100 tall"
              src="assets/img/gallery/gallery4.jpg"
              alt="Third slide"
            />
          </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <div class="col">
      <div>
        <mdb-carousel [isControls]="false" [animation]="'slide'">
          <mdb-carousel-item>
            <img
              class="d-block w-100 short"
              src="assets/img/gallery/gallery5.jpg"
              alt="First slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100 short"
              src="assets/img/gallery/gallery6.jpg"
              alt="Second slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100 short"
              src="assets/img/gallery/gallery7.jpg"
              alt="Third slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
              <img
                class="d-block w-100 short"
                src="assets/img/gallery/gallery8.jpg"
                alt="Third slide"
              />
            </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div>
        <mdb-carousel [isControls]="false" [animation]="'slide'">
          <mdb-carousel-item>
            <img
              class="d-block w-100 short"
              src="assets/img/gallery/gallery9.jpg"
              alt="First slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100 short"
              src="assets/img/gallery/gallery10.jpg"
              alt="Second slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100 short"
              src="assets/img/gallery/gallery11.jpg"
              alt="Third slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
              <img
                class="d-block w-100 short"
                src="assets/img/gallery/gallery12.jpg"
                alt="Third slide"
              />
            </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
</section>
