<div id="partners" class="container text-center">
  <h2 class="font-weight-bold h1 py-5">
    <strong>¡Contamos con las mejores marcas nacionales e internacionales!</strong>
  </h2>

  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true"
                class="carousel-multi-item multi-animation"
                [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <!--First slide-->
    <mdb-carousel-item>
      <div class="row">
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner1.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner2.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner3.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner4.png">
        </div>
      </div>
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
      <div class="row">
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner5.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner6.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner7.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner8.png">
        </div>
      </div>
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
      <div class="row">
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner9.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner10.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner11.png">
        </div>
        <div class="col-6 col-md-3">
          <img class="img-fluid"
               src="assets/img/partner-logos/partner12.png">
        </div>
      </div>
    </mdb-carousel-item>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</div>
