<!--Section: Features v.1-->
<section class="container-fluid white-text text-center py-5 my-5">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">¡Somos distribuidores exclusivos!</h2>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <img class="img-fluid"
           src="assets/img/brands/brand1.png">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <img class="img-fluid"
           src="assets/img/brands/brand2.png">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <img class="img-fluid"
           src="assets/img/brands/brand3.png">
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.1-->
