<!--Section: Features v.3-->
<section id="products"
         class="text-center py-5">

  <div class="container">

    <!--Section heading-->
    <h2 class="h1 py-3 font-weight-bold wow fadeIn">Productos</h2>

    <div class="row">
      <ng-container *ngFor="let product of products">
        <div class="col-12 col-md-4 mt-3 wow fadeIn">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </ng-container>
    </div>

  </div>

</section>
<!--Section: Features v.3-->
