.intro-2 {
  background: url('assets/img/background.jpeg')
    no-repeat center center;
  background-size: cover;
}
.view {
  height: 100vh !important;
}
.top-nav-collapse {
  background-color: #387643 !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #387643 !important;
  }
}
.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
h6 {
  line-height: 1.7;
}
.full-height,
.full-height body,
.full-height header,
.full-height header .view {
  height: 1150px !important;
}
